<form novalidate [formGroup]="addEditForm">
    <div class="row">
        <input type="hidden" name="Id" />
        <div class="col">
            <div class="form-group">
                <label for="categoryName">Category Name</label>
                <input type="text" placeholder="Category Name" class="form-control" id="categoryName" formControlName="CategoryName" />
            </div>
            <div class="form-group">
                <label for="catgegoryDescription">Catgegory Description</label>
                <textarea placeholder="Catgegory Description" class="form-control" id="catgegoryDescription" rows="6" formControlName="CategoryDescription"></textarea>
            </div>
            <div class="form-group">
                <label for="parentPostCategory">Parent Post Category</label>
                <select class="form-control custom-select" id="parentPostCategory" formControlName="ParentPostCategory" name="ParentPostCategory">
                    <option value="">-- Parent Post Category --</option>
                    <option *ngFor="let postCategory of postCategorys" [ngValue]="postCategory.Id">{{postCategory.CategoryName}}</option>
                </select>
                <input type="hidden" formControlName="ParentPostCategory" name="ParentPostCategory">
            </div>
            <div class="form-group">
                <label for="metaData">Meta Data</label>
                <input type="text" placeholder="Meta Data" class="form-control" id="metaData" formControlName="MetaData" />
            </div>
            <div class="form-group">
                <label for="metaDescription">Meta Description</label>
                <textarea laceholder="Meta Description" class="form-control" id="metaDescription" formControlName="MetaDescription"></textarea>
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" name="IsPublic" id="isPublic" formControlName="IsPublic" id="isPublic" type="checkbox">
                    <label class="custom-control-label" for="isPublic">Is Public</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" (click)="onSave($event)" class="btn btn-success" [disabled]="!addEditForm.valid">
            <i class="ti-save"></i> Save</button>
        <button type="button" (click)="onCancel($event)" class="btn btn-default">Cancel</button>
    </div>
</form>