<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-title"></div>
      <div class="card-body">
        <div class="col-12">
          <div class="col m-b-10">
            <div class="text-right">
              <div class="row">
                <div class="col-10">
                  <input class="form-control" name="keyword" placeholder="Search..." [(ngModel)]="keyword" (keyup.enter)="searchPost($event)"
                  />
                </div>
                <div class="col-2">
                  <button class="btn btn-info" (click)="addPost($event)">
                    <i class="fa fa-plus"></i> Add
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <ngx-datatable class="material" [rows]="posts" [columnMode]="'force'" [headerHeight]="page.HeaderHeight" [rowHeight]="page.RowHeight"
              [externalPaging]="true" [count]="page.TotalCount" [offset]="page.PageIndex" [limit]="page.PageSize" (page)='setPage($event)'
              [footerHeight]="page.FooterHeight">
              <ngx-datatable-column name="No" [width]="page.ColumnWith">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{column.name}}
                </ng-template>
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{rowIndex +1}}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Post Title">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{column.name}}
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <strong>{{row.Title}}</strong>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Public">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{column.name}}
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span class="text-success" *ngIf="row.IsPublic">
                    <i class="fa fa-check"></i>
                  </span>
                  <span class="text-danger" *ngIf="!row.IsPublic">
                    <i class="fa fa-times"></i>
                  </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Action" [width]="page.ColumnWith">
                <ng-template let-column="column" ngx-datatable-header-template>
                  {{column.name}}
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <button type="button" class="btn-xs btn-link" (click)="editPost($event, value.Id)">
                    <i class="fa fa-pencil fa-2x"></i>
                  </button>
                  <button type="button" class="btn-xs btn-link text-danger" (click)="deletePost($event,value.Id)">
                    <i class="fa fa-trash fa-2x"></i>
                  </button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>