<div class="container-fluid">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse right-nav" id="navbarNavAltMarkup">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span *ngIf="currentLanguage; else languageDefault">
                  {{currentLanguage.TranslateKey | translate}}
                </span>
                <ng-template #languageDefault>
                  {{ 'Common.Language.Title' | translate}}
                </ng-template>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a *ngFor="let item of languages" class="dropdown-item" (click)="setLanguage(item.Id)">
                  <img [src]="item.Image" alt="{{item.TranslateKey}}" /> {{item.TranslateKey | translate}}
                </a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> {{'Login.Title'| translate}} </h2>
    <!-- Icon -->
    <div class="fadeIn first">
      <!-- <img src="assets/images/logo-icon.png" id="icon" alt="User Icon" /> -->
      <i class="fa fa-skyatlas fa-5x"></i>
    </div>

    <!-- Login Form -->
    <form [formGroup]="formLogin" novalidate (ngSubmit)="onFormLoginSubmit($event)">
      <div class="form-group">
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="{{'Login.lblUserName'| translate}}" formControlName="UserName">
        <p *ngIf="formLogin.controls['UserName'].invalid && (formLogin.controls['UserName'].dirty || formLogin.controls['UserName'].touched)">
          <span class="text-danger" *ngIf="formLogin.controls['UserName'].hasError('required')">{{'Login.Error.UserName.required'| translate}}</span>
          <span class="text-danger" *ngIf="formLogin.controls['UserName'].hasError('email')">{{'Login.Error.UserName.email'| translate}}</span>
        </p>
      </div>
      <div class="form-group">
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="{{'Login.lblPassword'| translate}}" formControlName="Password">
        <p *ngIf="formLogin.controls['Password'].invalid && (formLogin.controls['Password'].dirty || formLogin.controls['Password'].touched)">
          <span class="text-danger" *ngIf="formLogin.controls['Password'].hasError('required')">{{'Login.Error.Password.required'| translate}}</span>
        </p>
      </div>
      <button type="submit" class="fadeIn fourth btn" [disabled]="!formLogin.valid">
        {{'Login.btnLogin'| translate}}
      </button>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover">{{'Login.btnForgotPassword'| translate}}</a>
    </div>

  </div>
</div>