<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Sign In </h2>
    <!-- Icon -->
    <div class="fadeIn first">
      <!-- <img src="assets/images/logo-icon.png" id="icon" alt="User Icon" /> -->
      <i class="fa fa-skyatlas fa-5x"></i>
    </div>

    <!-- Login Form -->
    <form [formGroup]="formLogin" novalidate (ngSubmit)="onFormLoginSubmit($event)">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" formControlName="UserName">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" formControlName="Password">
      <input type="submit" class="fadeIn fourth btn" value="Log In" [disabled]="!formLogin.valid">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover">Forgot Password?</a>
    </div>

  </div>
</div>