<form novalidate [formGroup]="addEditForm">
  <div class="row">
    <input type="hidden" name="Id" formControlName="Id" />
    <div class="col">
      <div class="form-group">
        <label for="title">{{'Post.lblPostTile'| translate}}</label>
        <input type="text" class="form-control" id="title" formControlName="Title" />
        <app-error [viewName]="'Post'" [errors]="fieldErrors('Title')"></app-error>
      </div>
      <div class="form-group">
        <label for="postCategory">{{'Post.lblPostCategory'| translate}}</label>
        <select class="form-control custom-select" id="postCategory" formControlName="PostCategoryId" name="PostCategoryId">
          <option [value]="null">-- {{'Post.lblPostCategory'| translate}} --</option>
          <option *ngFor="let postCategory of postCategorys" [ngValue]="postCategory.Id">{{postCategory.CategoryName}}</option>
        </select>
        <input type="hidden" formControlName="PostCategoryId" name="PostCategoryId">
        <app-error [viewName]="'Post'" [errors]="fieldErrors('PostCategoryId')"></app-error>
      </div>
      <div class="form-group">
        <label for="postCategory">{{'Post.lblPostContent'| translate}}</label>
        <editor [apiKey]="'4sodeekklq6xrdmzjob9w0bav2g3kbxgk2jdmvbvtwuekiyf'" formControlName="Content" [init]="confitTypTinyMCE"></editor>
        <app-error [viewName]="'Post'" [errors]="fieldErrors('CategoryDescription')"></app-error>
      </div>
      <div class="form-group">
        <label for="url">{{'Post.lblUrl'| translate}}</label>
        <input type="text" class="form-control" id="url" formControlName="Url" />
        <app-error [viewName]="'Post'" [errors]="fieldErrors('Url')"></app-error>
      </div>
      <div class="form-group">
        <label for="metaData">{{'Post.lblMetaData'| translate}}</label>
        <input type="text" class="form-control" id="metaData" formControlName="MetaData" />
        <app-error [viewName]="'Post'" [errors]="fieldErrors('MetaData')"></app-error>
      </div>
      <div class="form-group">
        <label for="metaDescription">{{'Post.lblMetaDescription'| translate}}</label>
        <textarea class="form-control" id="metaDescription" formControlName="MetaDescription"></textarea>
        <app-error [viewName]="'Post'" [errors]="fieldErrors('MetaDescription')"></app-error>
      </div>
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input class="custom-control-input" name="IsPublic" id="isPublic" formControlName="IsPublic" id="isPublic"
            type="checkbox">
          <label class="custom-control-label" for="isPublic">{{'Post.lblIsPublic'| translate}}</label>
        </div>
        <app-error [viewName]="'Post'" [errors]="fieldErrors('IsPublic')"></app-error>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" (click)="onSave($event)" class="btn btn-success" [disabled]="!addEditForm.valid">
      <i class="ti-save"></i> {{'Common.btnSave' | translate}}</button>
    <button type="button" (click)="onCancel($event)" class="btn btn-default">{{'Common.btnCancel' | translate}}</button>
  </div>
</form>